body {
  background-color: #fffdfa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
}

.grid-container {
  position: relative;
  background-color: #f8f3ee;
  display: flex;
  padding: 2px;
  border-radius: 4px;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  font-weight: 800;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0), translateY(0);
  transition: transform 0s ease;
  will-change: transform;
  margin: 2px;
  border-radius: 4px;
}

.grid-overlay {
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
  animation: 0.08s ease fade-in forwards;
}

.input {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-settings-button {
  margin-top: 16px;
}

.game-settings-drawer {
  width: 100%;
}

.game-settings-drawer .ant-input-number {
  width: 100%;
}
