.game {
  display: flex;
}

.grid-container {
  position: relative;
  background-color: gainsboro;
  display: flex;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 64px;
  height: 64px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0), translateY(0);
  transition: transform 0s ease;
  will-change: transform;
}

.grid-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: 0.2s ease fade-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
