body {
  background-color: #fffdfa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
}

.grid-container {
  position: relative;
  background-color: #f8f3ee;
  display: flex;
  padding: 2px;
  border-radius: 4px;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  font-weight: 800;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0), translateY(0);
  transition: transform 0s ease;
  will-change: transform;
  margin: 2px;
  border-radius: 4px;
}

.grid-overlay {
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
  animation: 0.08s ease fade-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-settings-button {
  margin-top: 16px;
}

.game-settings .ant-input-number,
.game-settings .ant-btn {
  width: 100%;
}

/* 
  yeah, these are not good, it just bugs me out
  I assume we would have finer control over such components
 */
.game-settings .ant-form-item-required::before {
  content: none !important;
}
